/* Styling for about section and about section elements */

.about {
    position: relative;
    top: 49px;
    min-height:200px;
    text-align: center;
    background-color: rgb(65, 65, 65);
}

.about .summary-flexbox {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    min-height: 300px;
}

.summary-flexbox .summary-display {
    width: 50%;
    min-width: 300px;
}

.summary-display h3 {
    font-weight: normal;
    color: white;
    text-align: left;
}

.summary-flexbox img {
    border-radius: 25px;
    width: 25%;
    min-width: 300px;
    height: auto;
}

.about .skills-flexbox {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: top;
    width: 100%;
    min-height: 300px;
}

.skills-flexbox .tech-skills {
    width: 20%;
    min-height: 200px;
}

.tech-skills ul {
    text-align: left;
    margin-left: 22%;
}

@media (max-width: 800px) {
    .about .summary-flexbox {
        flex-direction: column;
    }

    .about .skills-flexbox .tech-skills{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .about {
        top: 70px;
    }
}