/* Styling for navbar and navbar elements */

.navbar-ul {
    position: fixed;
    position: -webkit-sticky;
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    height: 70px;
    width: 100%;
    background-color:rgb(40, 40, 40);
}

.navbar-li {
    position: sticky;
    top: 0;
    right: 0;
    display: block;
    padding: 15px;
    padding-top: 10px;
    float: right;
    text-align: center;
    line-height: 50px;
}

.navbar-a {
    display: block;
    text-decoration: none;
}

.navbar-li .navbar-a {
    display: block;
    color: white;
    transition: 0.5s;
}

.navbar-li .navbar-a:hover {
    color: rgb(184, 121, 248);
    transition: 0.5s
}

.navbar-name {
    position: sticky;
    display: block;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 200%;
}