/* Styling of built in classes */

body {
    color: white;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
    transition: 0.5s;
}

h1 {
    font-weight: normal;
    padding-top: 20px;
}

h2 {
    font-weight: normal;
}

/* Design and style of the navbar */
.navbar-ul {
    position: fixed;
    position: -webkit-sticky;
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    height: 70px;
    width: 100%;
    background-color:rgb(40, 40, 40);
}

.navbar-li {
    position: sticky;
    top: 0;
    right: 0;
    display: block;
    padding: 15px;
    padding-top: 10px;
    float: right;
    text-align: center;
    line-height: 50px;
}

.navbar-a {
    display: block;
    text-decoration: none;
}

.navbar-li .navbar-a {
    display: block;
    color: white;
    transition: 0.5s;
}

.navbar-li .navbar-a:hover {
    color: rgb(184, 121, 248);
    transition: 0.5s
}

.navbar-name {
    position: sticky;
    display: block;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 200%;
}

/* Design and style of the "About Me" section */
.about {
    position: relative;
    top: 49px;
    min-height:200px;
    text-align: center;
    background-color: rgb(65, 65, 65);
}

.about .summary-display {
    position: relative;
    top: -35px;
    width: 40%;
    display: inline-block;
    padding-left: 20px;
}

.about .image-display {
    padding: 20px;
    width: 20%;
    display: inline-block;
}

.about .image-display img {
    border-radius: 25px;
    width: 100%;
    height: auto;
}

.about .summary-display h3 {
    font-weight: normal;
    color: white;
    text-align: left;
}

.about .lang-section {
    vertical-align: top;
    width: 20%;
    background-color: rgb(65, 65, 65);
    min-height: 200px;
    display: inline-block;
}

.about .program-section {
    vertical-align: top;
    width: 20%;
    background-color: rgb(65, 65, 65);
    min-height: 200px;
    display: inline-block;
}

.about .program-section ul {
    margin-left: 10%;
    display: inline-block;
    text-align: left;
}

.about .lang-section ul {
    margin-left: -15%;
    display: inline-block;
    text-align: left;
}

/* Design and style of the "Projects" section */
.projects {
    position: relative;
    top: 27px;
    width: 100%;
    min-height: 200px;
    text-align: center;
    background-color: rgb(65, 65, 65);
}

.projects-display {
    top: 72px;
    margin: auto;
    width: 70%;
}

.half-line {
    height: 2px;
    background-color: white;
    width: 50%;
    margin: auto;
}

.projects-display .gallery {
    padding-top: 15px;
    padding: 30px;
    width: 200px;
    transition: 0.5s;
    display: inline-block;
}

.projects-display .gallery img {
    border: 2px solid white;
    border-radius: 25px;
    width: 100%;
    height: auto;
    transition: 0.5s;
}

.projects-display .gallery img:hover {
    transition: 0.5s;
    border: 2px solid rgb(184, 121, 248);
}

.projects-display .gallery .description {
    padding: 5px;
    text-align: center;
}

.projects-display .gallery:hover {
    transform: scale(1.10);
    color:rgb(184, 121, 248);
    transition: 0.5s;
}

.contact-info-ul {
    position: relative;
    top: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(40, 40, 40);
}

.contact-info-contact-me {
    display: block;
    float: left;
    padding: 0px 25px 0px 25px;
    line-height: 50px;
}

.contact-info-email {
    display: block;
    float: left;
    line-height: 50px;
}

.contact-info-li {
    position: sticky;
    display: block;
    float: right;
    text-align: center;
    margin-right: 5px;
}

.contact-info-li a {
    width: 34px;
    height: 34px;
    padding: 8px 25px 0 0;
    display: block;
    transition: 0.5s;
}

.contact-info-li a:hover {
    transform: scale(1.10);
    transition: 0.5s;
}

.contact-info-li a img {
    width: 100%;
    height: auto;
}

