/* Styling information for navigation bar */
.navbar {
    height: 10vh;
    width: 100%;
    background-color: #404040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    z-index: 2;
}

/* Styling for the title of the page */
.title {
    margin-left: 2vw;
    font-size: 1.5em;
    font-weight: bold;
}

/* Container of navigation links */
.links {
    margin-right: 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}

/* Each individual link element */
.link-element {
    padding: 1vh 1vw 1vh 1vw;
}

/* Remove text decoration and set color
   of links to white */
.link {
    text-decoration: none;
    color: white;
}

/* Change opacity when links are hovered over */
.link:hover {
    opacity: 50%;
}

/* Creates container for links after menu
   bar click */
.menu-bar-display {
    padding: 1vh 0 1vh 0;
    position: absolute;
    top: 35vh;
    background-color: #393939;
    width: 100%;
    display: none;
    flex-direction: column;
}

/* Checkbox responsible for dropdown menu appearing */
#menu-bar-checkbox {
    display: none;
}

/* Allow dropdown menu to appear once menu bar is clicked */
#menu-bar-checkbox:checked ~ .menu-bar-display {
    display: flex;
}

/* Creates a container for the menu bar icon */
.menu-bar-icon {
    position: relative;
    display: none;
    margin-right: 5vw;
    align-items: center;
}

/* Allow for different styling options when 
   screen size is below 650px */
   @media (max-width: 650px) {

    /* Remove links from navbar */
    .links {
        display: none;
    }

    /* Display menu bar icon */
    .menu-bar-icon {
        display: flex;
    }
}