<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- CSS stylesheets necessary for page layout -->
        <link rel="stylesheet" href="../static/css/global.css">
        <link rel="stylesheet" href="../static/css/header.css">
        <link rel="stylesheet" href="../static/css/navbar.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/footer.css">

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
        <meta charset="UTF-8">

        <!-- Enables scaling for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Title in tab of browser -->
        <title>Jotham's Profile</title>
    </head>

    <body>
        <!-- Header -->
        <header class="header">

            <!-- Banner image -->
            <img class="banner" src="../static/images/banner-img.png" alt="Banner image of coastline with trees" loading="lazy">
        </header>

        <!-- Navigation Bar -->
        <nav class="navbar">
            <!-- Title of Website-->
            <div class="title">Jotham's Personal Website</div>

            <!-- Navigation Links -->
            <div class="links">
                <div class="link-element"><a class="link" href="index.html">Home</a></div>
                <div class="link-element"><a class="link" href="projects.html">Projects</a></div>
                <div class="link-element"><a class="link" href="../static/documents/Jotham_Teshome_Resume.pdf">Resume</a></div>
            </div>
        </nav>

        <!-- Main Section -->
        <main class="main">

            <!-- "About Me" section -->
            <div class="desc-row">

                <!-- Picture of me -->
                <div class="img-section no-hover">
                    <img class="img" src="../static/images/Jotham.JPG" alt="Jotham on Mackinac Island" loading="lazy">
                </div>

                <!-- Description of me -->
                <div class="text-section">
                    <p>
                        Hi! I'm Jotham, an undergraduate student currently studying Computer Science at Michigan State University.
                        After I finish here at MSU, I plan to further my education. I am currently in the process of researching and
                        applying to various graduate programs across the country.
                    </p>
                    <p>
                        Outside of school, I enjoy working on side projects. I love the challenge of learning how to do something
                        for the first time, be that through following a tutorial or jumping in the deep end and figuring it out myself.
                        My favorite part of it all is having the freedom to create something exciting out of a simple idea.
                    </p>
                    <p>
                        On this site, you can find my Resume, LinkedIn profile, and GitHub profile, as well as a brief description about
                        some of the projects I've worked on. If you would like to ask more about a particular project, my email is at the
                        bottom of any page, so feel free to ask!
                    </p>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer class="footer">

            <!-- Email -->
            <div class="contact-me">Contact me:&ensp; jothamteshome@gmail.com</div>

            <!-- LinkedIn and GitHub links -->
            <div class="external-links">
                <a href="https://www.linkedin.com/in/jothamteshome/" target="_blank" title="Check out my LinkedIn Profile!">
                    <img class="icon" src="../static/images/In-White-72.png" alt="LinkedIn logo" loading="lazy"></a>
                <a href="https://github.com/jothamteshome" target="_blank" title="Check out my GitHub Repositories!">
                    <img class="icon" src="../static/images/GitHub-Mark-Light-64px.png" alt="GitHub logo" loading="lazy"></a>
            </div>
        </footer>
    </body>
</html>