body {
    color: white;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-ul {
    position: fixed;
    position: -webkit-sticky;
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    height: 70px;
    width: 100%;
    background-color:rgb(40, 40, 40);
}

.navbar-li {
    position: sticky;
    top: 0;
    right: 0;
    display: block;
    padding: 15px;
    padding-top: 10px;
    float: right;
    text-align: center;
    line-height: 50px;
}

.navbar-a {
    display: block;
}

.navbar-li .navbar-a {
    display: block;
    color: white;
    transition: 0.5s;
}

.navbar-li .navbar-a:hover {
    color: rgb(184, 121, 248);
    transition: 0.5s
}

.navbar-name {
    position: sticky;
    display: block;
    padding-left: 100px;
    padding-top: 10px;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 200%;
}

.projects {
    position: absolute;
    top: 70px;
    width: 100%;
    min-height: 500px;
    text-align: center;
    background-color: rgb(65, 65, 65);
}

.projects-row {
    top: 72px;
    margin: auto;
    min-height: 230px;
    width: 60%;
}

.projects h1 {
    font-weight: normal;
    padding-top: 20px;
}

.half-line {
    height: 2px;
    background-color: white;
    width: 50%;
    margin: auto;
}

.projects-row .gallery {
    padding-top: 15px;
    padding: 30px;
    width: 200px;
    transition: 0.5s;
    display: inline-block;
}

.projects-row .gallery img {
    border-radius: 25px;
    padding-bottom: 5px;
    width: 100%;
    height: auto;
}

.projects-row .gallery .description {
    padding: 5px;
    text-align: center;
}

.projects-row .gallery:hover {
    transform: scale(1.10);
    color:rgb(184, 121, 248);
    transition: 0.5s;
}